<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div style="max-width: 1120px;">
        <h6>About</h6>
        <p class="text-justify">Comepan.com <i> ofrece los mejores panes de Lima, </i> elaborados con ingredientes
          frescos y naturales. Nos especializamos en una amplia variedad de opciones deliciosas y saludables. Nuestro
          compromiso es ofrecer calidad y pasión en cada bocado. Únete a nosotros para descubrir el placer de saborear
          el mejor pan de la ciudad.</p>
      </div>



      <div class="col-md-4">
        <h6>Pagina Principal</h6>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Productos</a></li>

          <li><a href="#">Servicios</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a
              href="https://www.google.com/maps/place/Comepan+Suc+54+Centro/@20.9717827,-89.628553,14z/data=!4m10!1m2!2m1!1scomepan+map!3m6!1s0x8f56716461c4a20f:0x1bcb2fe59e34982f!8m2!3d20.9653545!4d-89.6194196!15sCgtjb21lcGFuIG1hcCIDiAEBWgkiB2NvbWVwYW6SAR5jYWtlX2RlY29yYXRpbmdfZXF1aXBtZW50X3Nob3DgAQA!16s%2Fg%2F1jglw69sx?entry=ttu">Mapa
              del sitio</a></li>
        </ul>
      </div>
      <!----->
      <div class="col-md-4">

        <h6 style="color:hsl(0, 0%, 100%);">Visítanos</h6>



        <div class="address" style="color:#f7f0f0;">
          <address>Horario de atención de nuestra Tienda en línea</address>
        </div>
        <div class="contact-phone" style="color:hsl(0, 0%, 100%);">

          <i class="fa fa-phone"></i> 999 565 6640 Ext. 17

        </div>


        <div class="office-hours" style="color:hsl(0, 0%, 100%);">
          <i class="fa fa-phone"></i> Horario: Lunes a viernes 9 am - 4 pm <br> Sábados 9 am - 1 pm
          <br>
          <i class="fa fa-envelope" aria-hidden="true"></i> <a style="color:hsl(0, 0%, 100%);"
            href="mailto:correo&#64;example.com"> Comepan&#64;gmail.com</a>
        </div>



      </div>

      <!----->

      <!------>
      <div class="col-md-4" style="margin-left: auto;">
        <h6 style="color:hsl(0, 0%, 100%); margin-left: 20px;">Método de Pago</h6>
        <ul class="inline-list payment-icons">
          <li><a href="/cart" style="display: inline block;margin-left:21px;"><i class="fa fa-mobile"></i> Yape</a></li>
        </ul>
        <a _ngcontent-meh-c47="" id="logoyape" routerlink="/" class="navbar-brand ng-tns-c47-0"
          href="https://www.yape.com.pe/" style="display: inline-block; margin-left: 30px;">
          <img _ngcontent-meh-c47="" alt="logo" class="ng-tns-c47-0" src="assets/icon/logo.png" srcset=""
            style="width: auto; height: 50px;">
        </a>
      </div>

      <!------>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
          <a href="#">Comepan</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">

        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>