/* Estilos Generales */
body, html {
  margin: 0;
  padding: 0;
  scroll-padding-top: 60px;
}

/* Estilos de la Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  padding: 10px 0;

  .nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      a.nav-link {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        transition: background-color 0.3s, opacity 0.3s;
        border-radius: 15px; 
        margin: 0.5rem;
        width: 200px;
        text-align: center;
        background-color: #CD8034;
        font-size: 1rem;


        &:hover, &:focus {
          border-radius: 5px;
          opacity: 0.8;
          background-color: rgb(126, 64, 39); opacity: 0.9;
        }

        
      }
    }
  }

  .nav-toggle {
    display: none;
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;

    .hamburger {
      display: block;
      width: 25px;
      height: 3px;
      background: white;
      position: relative;

      &::before, &::after {
        content: '';
        background: white;
        width: 25px;
        height: 3px;
        display: block;
        position: absolute;
        transition: all 0.3s;
      }

      &::before { top: -8px; }
      &::after { bottom: -8px; }
    }
  }
}

/* Responsividad */
@media (max-width: 768px) {
  .navbar {
    .nav-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 55px;
      left: 0;
      background-color: #333;

      &.active {
        display: flex;
      }
    }

    .nav-toggle {
      display: block;
    }
  }
}
