/* Estilos Generales */
body, html {
  margin: 0;
  padding: 0;
  scroll-padding-top: 60px;
  font-family: Arial, sans-serif;
}

/* Estilos de la Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: #26272b; /* Color de fondo más oscuro para mayor contraste */
  z-index: 1000;
  padding: 10px 20px;
}

.navbar-brand {
  color: white;
  font-size: 1.5rem;
}

.nav-menu,
.nav-social {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin: 0 10px; /* Ajustar el espaciado */
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s;
}

.nav-link:hover, .nav-link:focus {
  color: #d8d8d8; /* Cambiar el color al pasar el ratón */
}

.nav-social li {
  margin: 0 5px; /* Ajustar el espaciado */
}

.nav-social li a {
  font-size: 1.2rem; /* Ajustar tamaño de iconos */
  /* Utilizar fuentes de iconos o SVG para representar los íconos reales */
}

/* Responsividad */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
    /* Otros estilos para el menú responsivo */
  }
  .nav-social {
    /* Estilos para la visibilidad de los íconos en móviles */
  }
}