<nav class="navbar">
  <div class="navbar-brand"> <img src="https://cdn-icons-png.flaticon.com/512/197/197563.png" alt="Perú" width="20px">
  </div>
  <ul class="nav-menu">
    <li><a href="#home" class="nav-link">Home</a></li>
    <li><a href="#producto" class="nav-link">Producto</a></li>
    <li><a href="#servicio" class="nav-link">Servicio</a></li>
    <li><a href="#contacto" class="nav-link">Contacto</a></li>
  </ul>
  <ul class="nav-social">
    <li><a href="#facebook" class="fab fa-facebook"></a></li>
    <li><a href="#twitter" class="fab fa-twitter"></a></li>
    <li><a href="#youtube" class="fab fa-youtube"></a></li>

  </ul>
</nav>