<div class="login-panel">
  <div class="login-form-container" *ngIf="mostrar_registro">
    <!-- Botón para cerrar sesión -->
    <button id="cerrarSesionButton" class="cerrar-sesion-button" (click)="cerrar()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 17" width="16" height="16">
        <path
          d="M1.4082 0.5L8.50064 7.59107L15.5903 0.500048L16.5 1.4097L9.40893 8.49936L16.5 15.5918L15.5902 16.5L8.50064 9.40899L1.40827 16.5L0.5 15.5917L7.59101 8.49936L0.500048 1.40976L1.4082 0.5Z"
          fill="currentColor"></path>
      </svg>
    </button>
    <div id="testId-cc-login-form"
      class="login-form-module_falw-login-form-root__BWZ-s login-form-module_falw-login-form-root-rebranded__KQBsg">
      <div id="unified-login-login-form" class="login-form-module_form-header__BoNTx">
        <div class="login-form-module_header-logo__vzwI7">
          <img src="../../../assets/imgs/logo.png" alt="Logo de la página" style="width: 170px; height: auto;">
        </div>
        <div class="login-form-module_new-header-content__nPhWL">
          <h3 class="login-form-module_new-header-content-title__7anM9">¡Hola!</h3>
          <h3 class="login-form-module_new-header-content-title__7anM9">Inicia sesión para comprar</h3>
        </div>
      </div>
      <div class="alert-container-sodimac-alert-login-fazil">
        <div>Si no tienes cuenta en Comepan.com, por favor <b>Registrese</b>.</div>
      </div>
      <div class="login-form-module_form-content__aTeg6">
        <form action="#" autocomplete="off" class="login-form">

          <div class="form-group">
            <label for="name" class="form-label">Nombres</label>
            <input id="name" name="name" type="name" placeholder="Ingresa un nombre" class="form-control" value="">
            <span class="error-message">Este campo es requerido</span>
          </div>
          <div class="form-group">
            <label for="name" class="form-label">Nombres</label>
            <input id="name" name="name" type="name" placeholder="Ingresa tus nombres" class="form-control" value="">
            <span class="error-message">Este campo es requerido</span>
          </div>
          <div class="form-group">
            <label for="lastName" class="form-label">Apellido</label>
            <input id="lastName" name="lastName" type="lastName" placeholder="Ingresa tus apellidos"
              class="form-control" value="">
            <span class="error-message">Este campo es requerido</span>
          </div>
          <div class="form-group">
            <label for="dni" class="form-label">N° de documento</label>
            <input id="dni" name="dni" type="dni" placeholder="Ingresa su DNI" class="form-control" value="">
            <span class="error-message">Introduce un número de documento válido</span>
          </div>
          <div class="form-group">
            <label for="dni" class="form-label"> Celular </label>
            <input id="dni" name="dni" type="dni" placeholder="Ingresa su DNI" class="form-control" value="">
            <span class="error-message">Introduce un número de celular válido</span>
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Correo electrónico</label>
            <input id="email" name="email" type="email" placeholder="Ingresa tu correo electrónico" class="form-control"
              value="">
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Contraseña</label>
            <div class="password-input">
              <input id="password" name="password" type="password" placeholder="Ingresa tu contraseña"
                class="form-control" value="">
            </div>
          </div>


          <div class="form-group terms">
            <input type="checkbox" id="terms1" name="terms1" required>
            <label for="terms1" class="form-label">Acepto los términos y condiciones para acumular puntos en mis
              compras.</label>
          </div>
          <div class="form-group terms">
            <input type="checkbox" id="terms2" name="terms2" required>
            <label for="terms2" class="form-label">Acepto los términos y condiciones de ComePan.com y autorizo la
              política de
              privacidad.</label>
          </div>

          <button id="testId-cc-login-form-submit" type="submit"
            class="button-module_falw-btn__AAtLY button-module_falw-btn-color-primary__JyUjj button-module_falw-btn-block__RMbJC button-module_falw-btn-rebranded__oGf32">
            <span style="letter-spacing: 0px;"> Registrar </span>
          </button>
          <div class="login-form-module_separator__oJsGd" data-char="o"></div>
          <p class="register-text">¿o ya tienes una cuenta? <a (click)="navRegister()">Ingresa</a></p>
        </form>
      </div>

    </div>

  </div>
  <div class="login-form-container" *ngIf="!mostrar_registro">
    <div class="login-panel">
      <div class="login-form-container">
        <!-- Botón para cerrar sesión -->
        <button id="cerrarSesionButton" class="cerrar-sesion-button" (click)="cerrar()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 17" width="16" height="16">
            <path
              d="M1.4082 0.5L8.50064 7.59107L15.5903 0.500048L16.5 1.4097L9.40893 8.49936L16.5 15.5918L15.5902 16.5L8.50064 9.40899L1.40827 16.5L0.5 15.5917L7.59101 8.49936L0.500048 1.40976L1.4082 0.5Z"
              fill="currentColor"></path>
          </svg>
        </button>
        <div id="testId-cc-login-form"
          class="login-form-module_falw-login-form-root__BWZ-s login-form-module_falw-login-form-root-rebranded__KQBsg">
          <div id="unified-login-login-form" class="login-form-module_form-header__BoNTx">
            <div class="login-form-module_header-logo__vzwI7">
              <img src="../../../assets/imgs/logo.png" alt="Logo de la página" style="width: 170px; height: auto;">
            </div>
            <div class="login-form-module_new-header-content__nPhWL">
              <h3 class="login-form-module_new-header-content-title__7anM9">¡Hola!</h3>
              <h3 class="login-form-module_new-header-content-title__7anM9">Inicia sesión para comprar</h3>
            </div>
          </div>
          <div class="alert-container-sodimac-alert-login-fazil">
            <div>Si no tienes cuenta en Comepan.com, por favor <b>Registrese</b>.</div>
          </div>
          <div class="login-form-module_form-content__aTeg6">
            <form action="#" autocomplete="off" class="login-form">
              <div class="form-group">
                <label for="email" class="form-label">Correo electrónico</label>
                <input id="email" name="email" type="email" placeholder="Ingresa tu correo electrónico"
                  class="form-control" value="">
              </div>
              <div class="form-group">
                <label for="password" class="form-label">Contraseña</label>
                <div class="password-input">
                  <input id="password" name="password" type="password" placeholder="Ingresa tu contraseña"
                    class="form-control" value="">
                </div>
              </div>
              <button id="testId-cc-login-form-submit" type="submit"
                class="button-module_falw-btn__AAtLY button-module_falw-btn-color-primary__JyUjj button-module_falw-btn-block__RMbJC button-module_falw-btn-rebranded__oGf32">
                <span style="letter-spacing: 0px;">Ingresar</span>
              </button>
              <div class="login-form-module_separator__oJsGd" data-char="o"></div>
              <p class="register-text">¿Aún no tienes cuenta? <a (click)="navRegister()">Regístrate</a></p>
            </form>

          </div>

        </div>

      </div>
      <div class="login-logo">
        <img src="../../../assets/imgs/bg.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="login-logo">
    <img src="../../../assets/imgs/bg.jpg" alt="">
  </div>
</div>