.login-form-container {
  overflow-y: auto;
}

.terms {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.terms label {
  display: inline;
}

.error-message {
  display: none;
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  left: 0;
}

input:invalid+.error-message {
  display: block;
}

/* Responsive Design */
@media (max-width: 480px) {
  .container {
    margin: 20px 10px;
  }

  button {
    padding: 12px 0;
  }
}