<section class="nav">
  <div class="container-hero">
    <div class="container hero">
      <div class="customer-support">
        <i class="fas fa-headset" style="color: white;"></i>
        <div class="content-customer-support">
          <span class="text">Soporte al cliente</span>
          <span class="number">123-456-7890</span>
        </div>
      </div>
       <!----USER LOGIN-->
<!-- Icono de usuario -->
<div class="container-user" (click)="toggleLoginPanel()">
  <i class="fas fa-user" style="color: white;"></i>
  <i class="fa fa-shopping-basket" aria-hidden="true" style="color: white; font-size: 50px; margin-left: 16px;"></i>
  <div class="content-shopping-cart">
    <span class="text">Carrito</span>
    <span class="number">(0)</span>
  </div>
</div>

<!-- Panel de inicio de sesión -->
<div *ngIf="mostrarLogin" class="login-panel">
  <div class="login-form-container">
    <!-- Botón para cerrar sesión -->
    <button id="cerrarSesionButton" class="cerrar-sesion-button" (click)="cerrarSesion()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 17" width="16" height="16">
        <path d="M1.4082 0.5L8.50064 7.59107L15.5903 0.500048L16.5 1.4097L9.40893 8.49936L16.5 15.5918L15.5902 16.5L8.50064 9.40899L1.40827 16.5L0.5 15.5917L7.59101 8.49936L0.500048 1.40976L1.4082 0.5Z" fill="currentColor"></path>
      </svg>
    </button>
    <div id="testId-cc-login-form" class="login-form-module_falw-login-form-root__BWZ-s login-form-module_falw-login-form-root-rebranded__KQBsg">
      <div id="unified-login-login-form" class="login-form-module_form-header__BoNTx">
        <div class="login-form-module_header-logo__vzwI7">
          <img src="../../../assets/imgs/logo.png" alt="Logo de la página" style="width: 170px; height: auto;">
        </div>
        <div class="login-form-module_new-header-content__nPhWL">
          <h3 class="login-form-module_new-header-content-title__7anM9">¡Hola!</h3>
          <h3 class="login-form-module_new-header-content-title__7anM9">Inicia sesión para comprar</h3>
        </div>
      </div>
      <div class="alert-container-sodimac-alert-login-fazil">
        <div>Si no tienes cuenta en Comepan.com, <b>Registrese</b> colocando sus datos personales. Si ya tiene cuenta solo coloque su correo y contraseña del sitio web de <b>Iniciar Sesion </b>.</div>
      </div>
      <div class="login-form-module_form-content__aTeg6">
        <form action="#" autocomplete="off" class="login-form">
          <div class="form-group">
            <label for="email" class="form-label">Correo electrónico</label>
            <input id="email" name="email" type="email" placeholder="Ingresa tu correo electrónico" class="form-control" value="">
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Contraseña</label>
            <div class="password-input">
              <input id="password" name="password" type="password" placeholder="Ingresa tu contraseña" class="form-control" value="">
            </div>
          </div>
          <button id="testId-cc-login-form-submit" type="submit" class="button-module_falw-btn__AAtLY button-module_falw-btn-color-primary__JyUjj button-module_falw-btn-block__RMbJC button-module_falw-btn-rebranded__oGf32" >
            <span style="letter-spacing: 0px;">Ingresar</span>
          </button>
          <div class="login-form-module_separator__oJsGd" data-char="o"></div>
          <p class="register-text">¿Aún no tienes cuenta? <a href="#">Regístrate</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
<!----USER LOGIN-->
<!----USER LOGIN-->
      


    
 
  <div class="container-navbar">
    <nav class="navbar container">
      <i class="fa-solid fa-bars"></i>
      <ul class="menu">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Moca Helado</a></li>
        <li><a href="#">Expreso</a></li>
        <li><a href="#">Capuchino</a></li>
        <li><a href="#">Más</a></li>
        <li><a href="#">Blog</a></li>
      </ul>

      <form class="search-form">
        <input type="search" placeholder="Buscar..." />
        <button class="btn-search">
          <i class="fa fa-search" style="color: hsl(0, 0%, 1%);"></i>
        </button>
      </form>
    </nav>
  </div>
</section>