@mixin tablet {
	@media screen and (max-width: 900px) {
		@content
	}
}

@mixin mobile {
	@media screen and (max-width: 520px) {
		@content
	}
}


:root {
	--primary-color: #c7a17a;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}


.fa-store {
	color: #fcfcfc;
	/* Cambia el color del icono a rojo */
}

.fa-user {
	color: #fcfcfc;
}


/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */

.nav {
	margin-top: 2rem;
	width: 100%;

	.container-hero {
		/* Agrega el degradado como fondo */
		background-image: linear-gradient(to right, #26272b, #33353d);
		/* Cambia los colores según sea necesario */
		/* Agrega relleno según tus necesidades */
		font-size: 15px;
		line-height: 20px;
		color: #737373;
		width: 100%;
		display: flex;
		padding: 20px 50px;
		margin-top: 50px;
		z-index: 3;


		/* Otros estilos que desees aplicar */
		.container {
			padding: 72px 25px 16px 25px;
			width: 100%;

			@include tablet() {}

			@include mobile() {
				flex-direction: column;
			}
		}


		.container-user {
			display: flex;
			justify-content: space-between;
			cursor: pointer;

			& .fa-user {
				font-size: 3rem;
				color: var(--primary-color);
				padding-right: 2.5rem;
				border-right: 1px solid #e2e2e2;
			}

			& .fa-basket-shopping {
				font-size: 3rem;
				color: var(--primary-color);
				padding-left: 1rem;
			}

			.content-shopping-cart {
				display: flex;
				flex-direction: column;
				color: white;
				font-size: 16px;
				position: relative;

				.number {
					background: red;
					border-radius: 50%;
					width: 25px;
					height: 25px;
					text-align: center;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 1rem;
					font-weight: 500;
					position: absolute;
					top: 0;
					margin-left: 54px;
					margin-top: 5px;
				}
			}

		}

	}
}












































.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 24px;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #ffffff;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}




/* ************* NAVBAR ************* */
.container-navbar {
	background-color: var(--primary-color);
	background-color: rgb(240, 180, 166);
	width: 100%;
	height: 72px;
	z-index: 1;

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 7.2px 10px;


		.menu {
			display: flex;

			li {
				list-style: none;

				a {
					font-size: 1.3rem;
					color: var(--dark-color);
					font-weight: 600;
					text-transform: uppercase;
					position: relative;
					text-decoration: none;

					&::after {
						content: '';
						width: 1.5rem;
						height: 1px;
						background-color: #fff;
						position: absolute;
						bottom: -3px;
						left: 50%;
						transform: translate(-50%, 50%);
						opacity: 0;
						transition: all 0.3s ease;
					}

					&:hover::after {
						opacity: 1;
						border-bottom: 4px solid #fff;

					}

					&:hover {
						color: #fff;
					}
				}

			}

		}

	}

}

.navbar .fa-bars {
	display: none;
}




.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #F0B4A6;
	border-bottom-color: #fff;
	background-color: #fff;
	height: 3.2rem;
	overflow: hidden;

	&:active,
	&:hover {
		border: 2px solid #fff;
		border-radius: 2rem;
		transition: 0.35s;

		input {
			background: #fff;
		}
	}
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
	background: #F0B4A6;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 1.6rem;
	margin-top: 32px;
	color: #fff;
}

/* ********************************** */
/*               BANNER               */
/* ********************************** */
.logo a {
	color: hsl(190, 71%, 53%);
	/* Cambia el color a tu preferencia */
	text-decoration: none;
	/* Elimina el subrayado del enlace */
	font-size: 24px;
	/* Cambia el tamaño de la fuente a tu preferencia */
	font-weight: bold;
	/* Cambia el peso de la fuente a tu preferencia */
	/* Otros estilos que desees aplicar */
}

app-login {
	width: 100vw;
}

/* seccion carrito */
.carrito {
	border: 1px solid #666;
	width: 35%;
	margin-top: 30px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: auto;
	position: sticky !important;
	top: 0;
	transition: .3s;
	/* Estilos para ocultar */
	margin-right: -100%;
	opacity: 0;
}

.carrito .header-carrito {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 30px 0;
}

.carrito .carrito-item {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	position: relative;
	border-bottom: 1px solid #666;
	padding: 20px;
}

.carrito .carrito-item img {
	margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad {
	display: inline-block;
	margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad {
	border: none;
	font-size: 18px;
	background-color: transparent;
	display: inline-block;
	width: 30px;
	padding: 5px;
	text-align: center;
}

.carrito .carrito-item .selector-cantidad i {
	font-size: 18px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #000;
	cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio {
	font-weight: bold;
	display: inline-block;
	font-size: 18px;
	margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar {
	position: absolute;
	right: 15px;
	top: 15px;
	color: #000;
	font-size: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #000;
	cursor: pointer;
	display: block;
	background: transparent;
	z-index: 20;
}

.carrito .carrito-item .btn-eliminar i {
	pointer-events: none;
}

.carrito-total {
	background-color: #f3f3f3;
	padding: 30px;
}

.carrito-total .fila {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
}

.carrito-total .btn-pagar {
	display: block;
	width: 100%;
	border: none;
	background: #000;
	color: #fff;
	border-radius: 5px;
	font-size: 18px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: .3s;
}

.carrito-total .btn-pagar:hover {
	scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
	.contenedor {
		display: block;
	}

	.contenedor-items {
		width: 100% !important;
	}

	.carrito {
		width: 100%;
	}
}

/* Estilos para el modal del carrito de compras */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 1001;
	/* Ajuste del z-index */
}

.btn-close-cart {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	cursor: pointer;
}

.carrito-total {
	margin-top: 20px;
}

/* Estilos para los elementos dentro del carrito */
.carrito-item {
	display: flex;
	align-items: center;
	position: relative;
	border-bottom: 1px solid #666;
	padding: 20px;
}

.carrito-item img {
	margin-right: 20px;
}

.carrito-item-detalles {
	flex: 1;
	/* Ocupa el espacio disponible */
}

.selector-cantidad {
	display: inline-block;
	margin-right: 25px;
}

.carrito-item-precio {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 5px;
}

.btn-eliminar {
	position: absolute;
	right: 15px;
	top: 15px;
	color: #000;
	font-size: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #000;
	cursor: pointer;
	display: block;
	background: transparent;
	z-index: 20;
}

.container-user {
	position: relative;
}

.cart-panel {
	color: #151515;
	position: absolute;
	top: 0;
	/* Centrar verticalmente */
	right: 0;
	/* Centrar horizontalmente */
	margin-top: 230px;
	margin-right: -300px;
	transform: translate(-50%, -50%);
	/* Centrar completamente */
	z-index: 3;
	background-color: rgba(255, 255, 255, 0.9);
	/* Fondo semi-transparente */
	width: 500px;
	/* Ancho del panel */
	max-height: 80vh;
	/* Altura máxima del panel */
	overflow-y: auto;
	/* Habilitar desplazamiento vertical si el contenido es demasiado grande */
	border: 1px solid #ccc;
	/* Borde */
	padding: 20px;
}

.cart-content-container {
	position: relative;
	max-width: 600px;
	/* ajusta el ancho según tus necesidades */
	width: 100%;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-cart-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	cursor: pointer;
}

.cart-form-module {
	/* Estilos para el contenido del formulario */
}

.cart-header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.cart-header-logo img {
	width: 170px;
	/* ajusta el tamaño según tus necesidades */
	height: auto;
}

.cart-header-content {
	margin-left: 20px;
}

.cart-header-title {
	font-size: 20px;
	margin: 5px 0;
}

.cart-content {
	/* Estilos para el contenido del carrito */
	margin-bottom: 20px;
}

.cart-footer {
	/* Estilos para el pie de página del carrito */
}

.cart-background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* Estilos para el fondo del panel de carrito (opcional) */
}

.cart-container {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	/* Color de fondo del carrito */
	border-top: 1px solid #ccc;
	/* Línea divisoria superior */
	box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
	/* Sombra en la parte superior */
	z-index: 1000;
	/* Asegura que el carrito esté sobre otros elementos */
}

.cart-content {
	padding: 20px;
	/* Espaciado interno del contenido del carrito */
}

.cart-footer {
	/* Estilos para el pie de página del carrito */
	padding: 10px 20px;
	/* Espaciado interno del pie de página */
	border-top: 1px solid #ccc;
	/* Línea divisoria superior */
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 16px;
	position: relative;

	.number {
		background: red;
		border-radius: 50%;
		width: 25px;
		height: 25px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		font-weight: 500;
		position: absolute;
		top: 0;
		margin-left: 54px;
		margin-top: 5px;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	/* Línea divisoria */
	margin-bottom: 10px;
	/* Espacio entre la cabecera y el cuerpo */
}

.body {
	padding-bottom: 10px;
	/* Espacio entre el cuerpo y el pie de página */
	border-bottom: 1px solid #ccc;
	/* Línea divisoria entre cuerpo y pie de página */
	margin-bottom: 10px;
	/* Espacio entre el cuerpo y el pie de página */
}

.footer {
	padding-top: 10px;
	/* Espacio sobre el pie de página */
}

.cart-items {
	display: flex;
	flex-direction: column;
}

.cart-item {
	display: flex;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	/* Línea divisoria entre elementos */
}

.cart-item img {
	width: 50px;
	/* Tamaño de la imagen */
	height: 50px;
	margin-right: 10px;
}

.additional-information {
	flex: 1;
}

.stepper {
	display: flex;
	align-items: center;
}

.stepper button {

	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
}


.stepper input {
	width: 30px;
	text-align: center;
}

.warning {
	display: flex;
	align-items: center;
	color: red;
	/* Color de advertencia */
}

.warning i {
	margin-right: 5px;
}

.sub-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
	/* Espacio sobre el pie de página */
}

.button-secondary-link {
	/* Estilos básicos del botón */
	background-color: #ccc;
	color: #000;
	padding: 10px 20px;
	border: none;
	cursor: pointer;

	/* Agregar transición para la animación */
	transition: transform 0.3s ease-in-out;
}

.addToCart-btn a {
	background-color: #000;
	/* Color de fondo del botón */
	color: #fff;
	/* Color del texto del botón */
	padding: 5px 10px;
	/* Reducción del padding */
	text-decoration: none;
}

.stepper {
	display: flex;
	align-items: center;
}

.stepper input {
	width: 30px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	margin: 0 5px;
	/* Añade un margen entre el input y los botones */
}


.button-secondary-link:hover {
	/* Cambiar el tamaño del botón al pasar el cursor sobre él */
	transform: scale(1.1);
}