<section class="nav">
  <div class="container-hero">
    <div class="container hero">
      <div class="customer-support">
        <i class="fas fa-headset" style="color: white;"></i>
        <div class="content-customer-support">
          <span class="text">Soporte al cliente</span>
          <span class="number">123-456-7890</span>
        </div>
      </div>

      <!-- Icono de usuario -->
      <div class="container-user" (click)="toggleLoginPanel()">
        <a href="" (click)="toggleLoginPanel()"> <i class="fas fa-user" style="color: white;"></i> </a>

        <app-login></app-login>

        <i class="fa fa-shopping-basket" aria-hidden="true"
          style="color: white; font-size: 50px; margin-left: 16px;"></i>
        <div class="content-shopping-cart">
          <span class="number">(0)</span>
        </div>
      </div>

      <div class="container-logo">
        <h1 class="logo"><a href="/"> SHOP BREAD</a></h1>
        <i class="fas fa-store"></i>
      </div>


    </div>
  </div>




  <div class="container-navbar">
    <nav class="navbar container">
      <i class="fa-solid fa-bars"></i>
      <ul class="menu">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Moca Helado</a></li>
        <li><a href="#">Expreso</a></li>
        <li><a href="#">Capuchino</a></li>
        <li><a href="#">Más</a></li>
        <li><a href="#">Blog</a></li>
      </ul>

      <form class="search-form">
        <input type="search" placeholder="Buscar..." />
        <button class="btn-search">
          <i class="fa fa-search" style="color: hsl(0, 0%, 1%);"></i>
        </button>
      </form>
    </nav>
  </div>

</section>