@mixin tablet {
	@media screen and (max-width: 900px) {
		@content
	}
}

@mixin mobile {
	@media screen and (max-width: 520px) {
		@content
	}
}


:root {
	--primary-color: #c7a17a;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}


.fa-store {
	color: #fcfcfc;
	/* Cambia el color del icono a rojo */
}

.fa-user {
	color: #fcfcfc;
}


/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */

.nav {
	margin-top: 2rem;
	width: 100%;


	.container-hero {
		/* Agrega el degradado como fondo */
		background-image: linear-gradient(to right, #26272b, #33353d);
		/* Cambia los colores según sea necesario */
		/* Agrega relleno según tus necesidades */
		font-size: 15px;
		line-height: 20px;
		color: #737373;
		width: 100%;
		display: flex;

		/* Otros estilos que desees aplicar */
		.container {
			padding: 72px 25px 16px 25px;
			width: 100%;

			@include tablet() {}

			@include mobile() {
				flex-direction: column;
			}
		}

	}
}


.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 24px;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #ffffff;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	color: var(--primary-color);
	padding-right: 2.5rem;
	border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
	font-size: 3rem;
	color: var(--primary-color);
	padding-left: 1rem;
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 16px;
	position: relative;

	.number {
		background: red;
		border-radius: 50%;
		width: 25px;
		height: 25px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		font-weight: 500;
		position: absolute;
		top: 0;
		margin-left: -30px;
		margin-top: 5px;
	}
}

/* ************* NAVBAR ************* */
.container-navbar {
	background-color: var(--primary-color);
	background-color: rgb(240, 180, 166);
	width: 100%;
	height: 72px;

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 7.2px 10px;


		.menu {
			display: flex;

			li {
				list-style: none;

				a {
					font-size: 1.3rem;
					color: var(--dark-color);
					font-weight: 600;
					text-transform: uppercase;
					position: relative;
					text-decoration: none;

					&::after {
						content: '';
						width: 1.5rem;
						height: 1px;
						background-color: #fff;
						position: absolute;
						bottom: -3px;
						left: 50%;
						transform: translate(-50%, 50%);
						opacity: 0;
						transition: all 0.3s ease;
					}

					&:hover::after {
						opacity: 1;
						border-bottom: 4px solid #fff;

					}

					&:hover {
						color: #fff;
					}
				}

			}

		}

	}

}

.navbar .fa-bars {
	display: none;
}




.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #F0B4A6;
	border-bottom-color: #fff;
	background-color: #fff;
	height: 3.2rem;
	overflow: hidden;

	&:active,
	&:hover {
		border: 2px solid #fff;
		border-radius: 2rem;
		transition: 0.35s;

		input {
			background: #fff;
		}
	}
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
	background: #F0B4A6;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 1.6rem;
	margin-top: 32px;
	color: #fff;
}

/* ********************************** */
/*               BANNER               */
/* ********************************** */
.logo a {
	color: hsl(190, 71%, 53%);
	/* Cambia el color a tu preferencia */
	text-decoration: none;
	/* Elimina el subrayado del enlace */
	font-size: 24px;
	/* Cambia el tamaño de la fuente a tu preferencia */
	font-weight: bold;
	/* Cambia el peso de la fuente a tu preferencia */
	/* Otros estilos que desees aplicar */
}

<<<<<<< HEAD
app-login {
	position: absolute;
	z-index: 10;
}
=======

/* ********************************** */
/*               LOGIN               */
/* ********************************** */
/* Contenedor principal del formulario */
.login-form-container {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilos para el panel de inicio de sesión */
.login-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-panel.active {
    display: block; /* Muestra el panel cuando tenga la clase "active" */
}

/* Estilos para el formulario de inicio de sesión */
.login-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}
.form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px; /* Puedes ajustar el tamaño según tus necesidades */
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-input {
    position: relative;
}

.password-toggle-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
}

.password-toggle-icon {
    width: 20px;
    height: auto;
}

/* Estilos para el texto de "¿Olvidaste tu contraseña?" y "Si no tienes cuenta" */
.forgot-password-text,
.register-text,
.hidden-form {
    margin-top: 20px;
    text-align: center;
}

.separator {
    margin: 20px 0;
    text-align: center;
}

.separator::before,
.separator::after {
    content: "";
    display: inline-block;
    width: 50%;
    border-top: 1px solid #ccc;
}

/* Estilos para el botón de cerrar */
.modal-module_falw-modal-close-button__xJSKv {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Estilos para el formulario de inicio de sesión */
.login-form-module_falw-login-form-root__BWZ-s {
    text-align: center;
}

/* Estilos para el logo en el formulario de inicio de sesión */
.login-form-module_header-logo__vzwI7 {
    margin-bottom: 0px;
	
}
.login-form-module_form-header__BoNTx {
    height: 270px; /* Ajusta este valor según sea necesario */
}
/* Estilos para el título en el formulario de inicio de sesión */
.login-form-module_new-header-content-title__7anM9 {
    margin: 5px 0;
}

.alert-container-sodimac-alert-login-fazil {
    background-color: #f8d7da;
    color: #721c24;
    padding: 20px; /* Ajusta el tamaño del padding */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 20px;
    max-width: 500px; /* Ancho máximo igual al del formulario */
    width: 100%; /* Ancho igual al 100% del contenedor padre */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-family: Arial, sans-serif; /* Fuente del texto */
    font-size: 14px; /* Tamaño de la fuente */
    line-height: 1.5; /* Altura de línea */
    text-align: center; /* Alineación del texto */
}

.alert-container-sodimac-alert-login-fazil > div {
    width: 100%; /* Ancho igual al 100% del contenedor padre */
    text-align: center; /* Alinea el texto al centro */
}
/* Estilos para el formulario de inicio de sesión */
.login-form-module_form-content__aTeg6 {
    text-align: left;
}

/* Estilos para los campos del formulario */
.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

.password-input {
    position: relative;
	
}
.form-control::placeholder {
    font-size: 14px; /* Tamaño deseado del placeholder */
    /* Otros estilos que desees aplicar */
}
.form-control[type="password"]::placeholder {
    font-size: 19px; /* Tamaño deseado del placeholder */
    /* Otros estilos que desees aplicar */
    
}
.password-toggle-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.password-toggle-icon {
    width: 20px;
    height: 20px;
    fill: #333333;
}

/* Estilos para el texto de "¿Olvidaste tu contraseña?" */
.forgot-password-text {
    margin-bottom: 20px;
}

/* Estilos para el botón de enviar */
.btn-submit {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.btn-submit:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

/* Estilos para el texto de "¿Aún no tienes cuenta?" */
.register-text {
    margin-top: 20px;
}

.register-text a {
    color: #007bff;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}

/* ********************************** */
/*         SEPARADOR "O"              */
/* ********************************** */
/* Estilos para el separador */
.separator {
    border-top: 1px solid #ced4da;
    margin: 20px 0;
}
.login-form-module_new-header-content__nPhWL {
    margin-top: 0; /* Elimina el margen superior */
}
.login-form-module_separator__oJsGd {
    text-align: center; /* Alinea el texto al centro */
    margin: 20px 0; /* Margen superior e inferior de 20px y 0 a los lados */
    border: none; /* Sin borde */
}

.login-form-module_separator__oJsGd::before {
    content: attr(data-char); /* Utiliza el valor del atributo data-char como contenido */
    display: inline-block; /* Mostrar como bloque en línea */
}


/* ********************************** */
/*               BOTNO INGRESAR      */
/* ********************************** */

/* Estilos para el botón con color de fondo primario */
button.button-module_falw-btn-rebranded__oGf32.button-module_falw-btn-color-primary__JyUjj {
    background-color: #343e49!important;
}

/* Estilos para el botón deshabilitado */
button.button-module_falw-btn-rebranded__oGf32:disabled {
    background-color: hsla(0, 48%, 5%, 0.691)!important;
}

/* Estilos para el botón con color de fondo secundario */
.button-module_falw-btn__AAtLY.button-module_falw-btn-color-primary__JyUjj {
    background-color: #8fca00;
}

/* Estilos para que el botón ocupe todo el ancho */
.button-module_falw-btn__AAtLY.button-module_falw-btn-block__RMbJC {
    width: 100%;
}

/* Estilos para el botón deshabilitado */
.button-module_falw-btn__AAtLY:disabled {
    background-color: hsl(0, 0%, 11%)!important;
    border-width: 0!important;
    --tw-text-opacity: 1!important;
    color: rgb(255 255 255/var(--tw-text-opacity))!important;
}

/* Estilos para el botón deshabilitado */
.button-module_falw-btn__AAtLY:disabled {
    pointer-events: none;
}

/* Estilos generales para el botón rebranded */
button.button-module_falw-btn-rebranded__oGf32 {
    border-radius: 23px;
    font-weight: 400;
    line-height: 23px;
    max-height: 100%!important;
}

/* Estilos generales para el botón */
.button-module_falw-btn__AAtLY {
    height: 45px;
    letter-spacing: 1px;
    line-height: 17px;
    border-radius: 0.375rem;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .05em;
    padding-left: 24px;
    padding-right: 24px;
    transition-duration: .15s;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    align-items: center;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
}

/* Estilos para el botón deshabilitado */
button:disabled {
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}
/* Estilos para el botón de cierre de modal */
.modal-module_falw-modal-close-button-rebranded__MYmok {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    position: absolute;
    z-index: 10;
    right: 15px;
    top: 15px;
    color: rgba(156, 163, 175, var(--tw-text-opacity)); /* Color del icono */
}

/* Estilos adicionales para el botón de cierre de modal */
.modal-module_falw-modal-close-button-rebranded__MYmok svg {
    width: 16px;
    height: 16px;
}
.cerrar-sesion-button{
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    padding: 4px;
    position: absolute;
    z-index: 10;
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity));
    align-self: flex-start; /* Alinea el botón al comienzo del contenedor */
}
>>>>>>> c31023acc613b5839bcdcb050292467e24c642b5
