.home {
    overflow-y: auto;
}

app-navbar {
    position: fixed;
    z-index: 2;
}

.panel_init {
    height: 350px;
    position: relative;
}

.titulo {
    position: relative;
    /* Cambia la posición a relativa */
    width: 100%;
    margin-top: 14vh;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    color: white;
    /* Ajusta el valor para mover todos los componentes hacia arriba */

    p {
        font-size: 1.5rem;
        font-style: italic;
        margin-top: -64px;
    }

    .btn_go {
        background-color: #CD8034;
        padding: 8px;
        border-radius: 4px;
        color: white;
    }
}

/* Ajustes para la imagen de fondo */
.home {
    background-image: url('./../../../assets/imgs/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid,
.grid--rev,
.grid--full,
.grid-uniform {
    list-style: none;
    margin: 0;
    padding: 0;
}