<div class="home">
    <app-nav></app-nav>
    
    <app-navbar></app-navbar>
    <section class="panel_init">
        <div class="titulo">
            <div class="title">
                <img src="./../../../assets/imgs/logo.png" alt="" width="250x">
                <p> Pancitos calientitos, a la orden del día! </p>
                <a href="" class="btn_go"> Adquiere el tuyo ya! </a>
            </div>
        </div>
       
    </section>
    
    <br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <app-footer></app-footer>
</div>