.home {
    overflow-y: auto;

    app-navbar {
        position: fixed;
        z-index: 2;
    }

    .panel_init {
        height: 350px;
        position: relative;
    }

    .titulo {
        position: absolute;
        width: 100%;
        margin-top: 25vh;
    }

    .title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        color: white;

        p {
            font-size: 1.5rem;
            font-style: italic;
            margin-top: -15px;
        }

        .btn_go {
            background-color: #CD8034;
            padding: 8px;
            border-radius: 4px;
            color: white;
        }
    }

    /* Ajustes para la imagen de fondo */
    background-image: url('./../../../assets/imgs/bg.jpg'); /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
}
.grid, .grid--rev, .grid--full, .grid-uniform {
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid, .grid--rev, .grid--full, .grid-uniform {
}
.grid:after, .grid--rev:after, .grid--full:after, .grid-uniform:after {
    content: "";
    display: table;
    clear: both;
}